.btn{
    border-radius: 10%;
}
.btn-primary{ 
    background-color: rgb(0, 204, 255);
}
.btn-secondary{
    background-color: rgb(0, 102, 255);
}
.btn-success{
    background-color    : rgb(0, 255, 42);
}
.btn-danger{
    background-color: red   ;
}
.btn-warning{
    background-color: yellow;
}
.btn-info{
    background-color: rgb(162, 0, 255);
}
.btn-dark{
    background-color: black;
    color: white;
}
.btn-light{
    background-color: white;
    color: black;
}

//containers

.row{
    display: flex;
    width: 100%;
}
.col-1{width: 8.3%}
.col-2{width: 16.9%; }
.col-3{width: 25.2%; }
.col-4{width: 33.5%; }
.col-5{width: 36.8%; }
.col-6{width: 45.1%; }
.col-7{width: 53.4%; }
.col-8{width: 61.7%; }
.col-9{width: 70%; } 
.col-10{width: 78.3%; }
.col-11{width: 86.6%; }
.col-12{width: 94.9%; }

.col-sm-1{}
.col-sm-2{}
.col-sm-3{}
.col-sm-4{}
.col-sm-5{}
.col-sm-6{}
.col-sm-7{}
.col-sm-8{}
.col-sm-9{}
.col-sm-10{}
.col-sm-11{}
.col-sm-12{}

.col-md-1{}
.col-md-2{}
.col-md-3{}
.col-md-4{}
.col-md-5{}
.col-md-6{}
.col-md-7{}
.col-md-8{}
.col-md-9{}
.col-md-10{}
.col-md-11{}
.col-md-12{}

.col-lg-1{}
.col-lg-2{}
.col-lg-3{}
.col-lg-4{}
.col-lg-5{}
.col-lg-6{}
.col-lg-7{}
.col-lg-8{}
.col-lg-9{}
.col-lg-10{}
.col-lg-11{}
.col-lg-12{}

.col-xl-1{}
.col-xl-2{}
.col-xl-3{}
.col-xl-4{}
.col-xl-5{}
.col-xl-6{}
.col-xl-7{}
.col-xl-8{}
.col-xl-9{}
.col-xl-10{}
.col-xl-11{}
.col-xl-12{}

.col-xxl-1{}
.col-xxl-2{}
.col-xxl-3{}
.col-xxl-4{}
.col-xxl-5{}
.col-xxl-6{}
.col-xxl-7{}
.col-xxl-8{}
.col-xxl-9{}
.col-xxl-10{}
.col-xxl-11{}
.col-xxl-12{}

//xxl?: ColSpec;
.container{
    margin: 10px;
    width: 98%;
}